# IDE's & editors project configuration files
.idea/
.vscode/

### JavaScript development
# Dependency directories
node_modules/
bower_components/
jspm_packages/
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Optional npm cache directory
.npm
# next.js build output
.next
# nuxt.js build output
.nuxt

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
