init.author.name=Aleksandr Bukhalo
init.author.email=aleksandr@bukhalo.com
init.author.url=https://github.com/bukhalo
init.version=0.1.0
prefix=/Users/donbot/.nvm/versions/node/v12.9.0
//registry.npmjs.org/:_authToken=$NPM_NPMJS_TOKEN
